# Conditional statement
```python 
if test _expression:
body of if
```

In [3]:
sales = 5000

In [6]:
if sales > 20000:
    print ('good')
else:
    print('bad')

bad

In [9]:

score = 77
gender = 'female'

In [10]:
if (score > 70 and gender == 'female'):
    print('f scholar')
else:
    print('others')

f scholar

In [11]:
salary = 180000

In [12]:
#> 200,000 executive
#>100,000 but less than 200,000 - paid well
#< 100,000 not paid well

In [15]:
salary = 50000

if salary > 200000:
    print('executive')
elif salary > 100000 and salary < 200000:
    print('paid well')
elif salary < 100000:
    print(' not paid well')
else:
    print ('mot paid')

 not paid well

In [16]:
# score > 80 - A1
# score 70 - 79 - b2
# score 60 - 69 - b3
# score 50 - 59 - c4
# score 40 - 49 - c6
# score 30 - 39 - d7
# score 20 - 29 - e8
# score < 20 - f9

In [17]:
score = 56

if score > 80:
    print('A1')
elif score >= 70 and score <= 79:
    print('B2')
elif score >= 60 and score <= 69:
    print('B3')
elif score >= 50 and score <= 59:
    print('C4')
elif score >= 40 and score <= 49:
    print('C6')
elif score >= 30 and score <= 39:
    print('D7')
elif score >= 20 and score <= 29:
    print('E8')
elif score < 20:
    print('F9')

C4