# Introduction Python

This is introduction to Python for Data Science

In [2]:
print('Hello Python!')

Hello Python!

In [8]:
print('Welcome Data Scientist')

Welcome Data Scientist

## Arithmetic Operations

In [16]:
3 + 2           # Addition

5

In [17]:
3 - 2          # Subtraction

1

In [18]:
3 / 2         # Division

1.5

In [19]:
# Multiplication
3 * 2

6

In [20]:
3 % 2         # %  means modulus and it is used to return the remainder after a division

1

In [15]:
6 % 4

2

In [21]:
3 // 2

1

In [23]:
6 // 4

1

## Equality Sign `=`
Equal to means **assign to** or **bind to**

In [24]:
x = 4

In [40]:
x

20

In [26]:
print(x)

4

In [28]:
y = 2 + 6

In [29]:
y

8

In [30]:
print(y)

8

In [33]:
x

4

In [34]:
z = 3 * 2 + 4

In [35]:
z

10

In [36]:
print(z)

10

In [37]:
x

4

In [38]:
x = 20

In [39]:
x

20

## Double Equality `==`
Double equality sign mean **equal to**

In [42]:
8 == 4 + 5

False

In [44]:
8 == 4 + 4

True

## Comparison Operators

In [46]:
3 + 5 == 10              # Equal to

False

In [53]:
4 != 7                 # Not equal to

True

In [48]:
4 > 9      # Greater than

False

In [51]:
3 + 1 < 7 + 1           # Less than

True

In [56]:
3 >= 8                # Greater than or equal to

False

In [57]:
3 <= 9            # Less than or equal to

True

## Logical Operators
`and`   `or`   `not`

In [58]:
x = 4
y = 7

In [59]:
x > 2

True

In [60]:
y > 9

False

In [61]:
x > 2 and y > 9

False

In [65]:
True and True

True

In [66]:
x > 2 or y > 9

True

In [70]:
False or False

False

In [72]:
not x > 2

False

## Identity Operators
`is`  `is not`

In [73]:
4 is 7

False

In [74]:
5 is not 10

True

# Variables

In [75]:
a = 20

In [76]:
height = 180

In [78]:
name = 'Ola'

In [79]:
_date = 20222

In [81]:
_2022sales = 400000

In [84]:
sales_amount = 202002

In [85]:
SalesAmount = 20202002

In [ ]:
and 
And
andela
or
else
if
in
not in

In [86]:
message = 'Life is good!'

In [88]:
message

'Life is good!'

In [89]:
print(message)

Life is good!

In [91]:
# Mulitple assignments
kunle = wale = uzo = 20

In [92]:
kunle

20

In [93]:
wale

20

In [94]:
uzo

20

In [97]:
print(uzo)

20

In [98]:
kunle
wale
uzo

20

In [99]:
print(wale)
print(kunle)
print(uzo)

20
20
20

In [100]:
name, weight, height = 'Paul', 98, 5.6

In [101]:
name

'Paul'

In [102]:
weight

98

In [103]:
height

5.6

In [105]:
print(name)
print(weight)
print(height)

Paul
98
5.6