# Numpy

## libraries/modules

In [1]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\odunayo\anaconda3\lib\site-packages (1.20.3)

### importing numpy library

In [2]:
import numpy

In [3]:
import numpy as np

## creating a numpy array

In [4]:
a1 = np.array([1,3,4,6])

In [5]:
a1

array([1, 3, 4, 6])

# Installing Pandas

In [6]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\odunayo\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\odunayo\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\odunayo\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\odunayo\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\odunayo\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

## importing pandas library/module

In [7]:
import pandas as pd

In [16]:
df2 = pd.read_excel ('Orders Data.xlsx')
df2

     Customer ID  Order ID       Date      Product  Quantity  UnitPrice
0              3    266868 2021-09-01      Noodles       193        100
1              1    140794 2021-12-01   Toothpaste        52        500
2              3    684759 2021-03-01    Deodorant       121        180
3              3    640447 2021-01-01      Noodles        87        100
4              5    898637 2021-12-01  Soft Drinks        71        100
..           ...       ...        ...          ...       ...        ...
695            3    853295 2021-10-01      Noodles       291        100
696            2    253981 2021-12-01   Toothpaste        57        500
697            5    208456 2020-09-01   Toothpaste       222        500
698            3    727940 2020-09-01       Coffee        66         60
699            4    414628 2021-10-01       Coffee       201         60

[700 rows x 6 columns]