# Python String

In [1]:
'Welcome to Python'

'Welcome to Python'

In [2]:
"Welcome to Python"

'Welcome to Python'

In [3]:
empty_string = ''

In [4]:
print(empty_string)

In [5]:
type(empty_string)

str

In [6]:
message = 'Life is good'

In [7]:
message

'Life is good'

In [8]:
type(message)

str

In [11]:
my_string = 'He didn\'t do it'  # escape character "\"

In [12]:
my_string

"He didn't do it"

In [13]:
my_string2 = "He didn't do it"

In [14]:
my_string2

"He didn't do it"

In [16]:
str2 = "He said \"wow\" I love it"

In [17]:
str2

'He said "wow" I love it'

In [20]:
str3 = 'HE said "wow!" I love it'

In [21]:
str3

'HE said "wow!" I love it'

### String Operations

In [22]:
s1 = 'Hello'
s2 = 'Python'

In [23]:
# Concatenation
s1 + s2

'HelloPython'

In [27]:
s1 + ' ' + s2  # add whitespace

'Hello Python'

In [29]:
# Replication
s1 * 3

'HelloHelloHello'

In [41]:
name = 'Audu'
gender = 'Male'
age = 45

In [42]:
print(name + ' is a ' + gender + ' and she is ' + str(age) + ' years old.')

Audu is a Male and she is 45 years old.

### string constructor `str`
It allows you to convert a value to a string

### Membership Test
`in`  `not in`

In [43]:
message = 'Life is good'

In [44]:
message

'Life is good'

In [47]:
'Good' in message

False

In [49]:
'life' not in message

True

## String methods
Methods are functions apply using the dot operator
```Python
variable_name.method()
```

In [50]:
message

'Life is good'

In [51]:
message.upper()

'LIFE IS GOOD'

In [53]:
type(message)

str

In [54]:
dir(message)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [142]:
message.capitalize?

In [58]:
message.capitalize()

'Life is good'

In [59]:
aa = 'thank God is Friday'

In [60]:
aa.capitalize()

'Thank god is friday'

In [65]:
aa.upper()

'THANK GOD IS FRIDAY'

In [67]:
message.title()

'Life Is Good'

In [70]:
message

'Life is good'

In [69]:
message.split()

['Life', 'is', 'good']

In [71]:
bb = 'Ade is a-Data Analyst, He worked with a-Financial Institution'

In [72]:
bb

'Ade is a-Data Analyst, He worked with a-Financial Institution'

In [82]:
bb.split?

In [78]:
bb.split(sep='-', maxsplit=1)

['Ade is a', 'Data Analyst, He worked with a-Financial Institution']

In [81]:
bb.split(maxsplit=2)

['Ade', 'is', 'a-Data Analyst, He worked with a-Financial Institution']

## String formatting `f-string`

```Python
f'{var1} {var2} {var3}'
```

In [91]:
fname = 'Ndifreke'
lname = 'Ebong'
age = 29
height = 170.546
monthly_salary = 40000

In [94]:
print(f'{fname} the son {lname} is {age} years and is {height:.2f}. Annual salary of {monthly_salary * 12}')

Ndifreke the son Ebong is 29 years and is 170.55. Annual salary of 480000

### Tabs `\t` and Newline `\n`

In [105]:
print('Tools for Data Scientist: \n\n\tExcel, \n\t\tSQL, \n\t\t\tPython, \n\tPower BI')

Tools for Data Scientist:

	Excel,
		SQL,
			Python,
	Power BI

## Indexing

### Accessing an element of a string
```Python
variable_name[index]
```

In [106]:
ms = 'welcome'

In [107]:
ms

'welcome'

In [108]:
print(ms)

welcome

In [109]:
type(ms)

str

In [110]:
ms[2]

'l'

In [111]:
ms[5]

'm'

In [112]:
ms[-2]

'm'

### Accessing multiple elements in a string `slicing`
```Python
variable_name[a:b]
```

In [113]:
ms

'welcome'

In [114]:
ms[2:5]

'lco'

In [115]:
ms[3:7]

'come'

In [126]:
ms[-4:]

'come'

In [123]:
ms[2:]

'lcome'

In [125]:
ms[:4]

'welc'

### Accessing multiple elements with step value in a string `striding`
```Python
variable_name[a:b:c]
```

In [127]:
alpha = 'abcdefghijklmnopqrstuvwxyz'

In [129]:
alpha

'abcdefghijklmnopqrstuvwxyz'

In [135]:
alpha[0:26:4]

'aeimquy'

In [136]:
q = 'pots'

In [140]:
# Reversing a string
q[::-1]

'stop'

In [141]:
alpha[::-1]

'zyxwvutsrqponmlkjihgfedcba'